<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body>
    <div class="center space">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="comms" value="comms" checked>
                <label class="form-check-label">
                 Would you like to unsubscribe from email/sms notifications?
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="everything" value="everything">
                <label class="form-check-label">
                Would you like to remove yourself from everything?
                </label>
            </div>
            <input class="small" type="submit" name="confirm_unsubscribe">
        </form>
    </div>
</body>
</html>