{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="center">
{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
<h1><b>Add Volunteer</b></h1>
<br>
<table>
<form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">
</form>
</table>
<br>
<a href="{% url 'view_volunteers' %}"><button>back</button></a>
</div>
{% endblock %}