{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="center space">

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

{% if seniors_list %}
    <p><b>Participants currently in the database  </b> </p>
    {% for senior in seniors_list %}
        <p>{{ senior }}</p>
    {% endfor %}

{% else %}
    <p>No participants currently added.</p>
{% endif %}
<br>
{% if volunteers_list %}
    <p><b> Volunteers currently in the database </b> </p>
    {% for volunteer in volunteers_list %}
        <p>{{ volunteer }}</p>
    {% endfor %}

{% else %}
    <p>No volunteers currently added.</p>
{% endif %}
<br>

<p><b> Schedule an Appointment </b> </p>
<form method='POST' action=''>
    {% csrf_token %}
    <div class="col col-lg-2 center">
        <select class="form-control" id="senior" name='senior_id'>
            {% for senior in seniors_list %}
                <option value='{{ senior.id }}'>{{ senior.full_name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <p><b>Date and Time</b></p><input type="text" name="day_time"><br>
    <br>
    <input type="Submit" name="select_senior">
</form>

    <br>
    <br>
<a href="{% url 'console' %}"><button>Return to main page</button></a>
    </div>
{% endblock %}
