<body>
    <h1>Your appointment has been confirmed!</h1>
    <p>Hello Volunteer!</p>
    <p>Thank you for accepting the request to be a Senior Escort Buddy! Here are the details:</p>
    <ul style="list-style-type:none;">
        <li>Who: {{appointment.senior}}</li>
        <li>What: {{appointment.purpose_of_trip}}</li>
        <li>When: {{appointment.date_and_time}}</li>
        <li>Where: {{appointment.start_address}} to {{appointment.end_address}}</li>
    </ul>
    <p style="white-space: pre">
        If you have any questions or concerns, please call (916) 476-3192.
        Below is a list of relevant phone numbers you may need. <i>Always call 911 in the case of an emergency!</i>
    </p>
    <br>
    <p><b>Non-Emergency Contacts</b></p>
    <ul style="list-style-type:none;">
        <li>City of Sacramento Police Non-emergency Line: (916) 808-5471</li>
        <li>Sacramento County Sheriff: (916) 874-511</li>
        <li>City of Elk Grove Police Non-emergency Line: (916) 714-5115</li>
    </ul>
    <p>Sincerely,</p>
    <p>Sacramento Senior Safety Collaborative Staff</p>
</body>