{% if seniors_list %}
    <p><b>Seniors currently in the database  </b> </p>
    {% for senior in seniors_list %}
        <p>{{ senior }}</p>
    {% endfor %}

{% else %}
    <p>No seniors currently added.</p>
{% endif %}
<br>
{% if volunteers_list %}
    <p><b> Volunteers currently in the database </b> </p>
    {% for volunteer in volunteers_list %}
        <p>{{ volunteer }}</p>
    {% endfor %}

{% else %}
    <p>No volunteers currently added.</p>
{% endif %}
<br>
{% if appointments_list %}
    <p><b> Appointments currently in the database </b> </p>
    {% for appointment in appointments_list %}
        <p>{{ appointment }}</p>
    {% endfor %}
<br>
{% else %}
    <p><b>No appointments currently added.</b></p>
{% endif %}
<br>

<p><b> Schedule an Appointment </b> </p>
<form method='POST' action=''>
    {% csrf_token %}
    <select class="form-control" id="senior" name='senior'>
        {% for senior in  seniors_list %}
            <option value='{{senior.last_name}}'>{{ senior }}</option>
        {% endfor %}
    </select>
    <input type="text" name="day"><br>
    <input type="Submit" name="select_senior">
</form>

    <br>
    <br>
<a href="{% url 'index' %}"><button>Return to main page</button></a>