<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <title>ACC Scheduler</title>
</head>
<body>
    <header>
        <h1>ACC Senior Services Scheduler</h1>
        <a create href="{%url 'register'%}">Create an Account</a>
        <a login href="{% url 'admin:index' %}">Log In</a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>