{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="center">
    {% if potential_list %}
        <p><b> Confirm Volunteers </b> </p>
    <form method='POST' action=''>
        {% csrf_token %}
            {% for volunteer in potential_list %}
                <input type="checkbox" id=volunteer.id name=volunteer value={{volunteer.id}} checked="True">
                <label for={{volunteer.id}}>{{volunteer.first_name}} {{volunteer.last_name}}</label>
            {% endfor %}
        <br>
            <input type="Submit" name="select_volunteers">
    {% endif %}

        <br>
        <br>
    </form>
    <a href="{% url 'console' %}"><button>Return to main page</button></a>
</div>
{% endblock %}