{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="center">
    {% if available_volunteer_list %}
        <p><b> Confirm Volunteers </b> </p>
    <form method='POST' action=''>
        {% csrf_token %}
            {% for volunteer in available_volunteer_list %}
                <input type="checkbox" id=volunteer name=volunteer value={{volunteer}} checked="True">
                <label for={{volunteer}}>{{volunteer}}</label>
            {% endfor %}
        <br>
            <input type="Submit" name="select_volunteers">
    {% endif %}

        <br>
        <br>
    </form>
    <a href="{% url 'console' %}"><button>Return to main page</button></a>
</div>
{% endblock %}