{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form class="space" action="{% url 'make_appointment' %}">
                <input type="submit" value="Schedule an Appointment" />
            </form>
            <form class="space" action="{% url 'view_seniors' %}">
                <input type="submit" value="Participants" />
            </form>
            <form class="space" action="{% url 'view_volunteers' %}">
                <input type="submit" value="Volunteers" />
            </form>
            <form class="space" action="{% url 'update_volunteers' %}">
                <input type="submit" name="update_volunteers" value="Update volunteers" />
            </form>

        </div>
        <div class="col-sm">
                <div class="center">
                    {% if user.is_authenticated %}
                        <p>Hello, {{user}}</p>
                    {% endif %}
                </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
{% endblock %}