<!-- HTML page for the main page when a user logs in. Displays the main three buttons: Seniors, Volunteers, Schedule an appointment -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <title>Index</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Hello, {{user.first_name}}</p>
    <a href="{% url 'logout' %}">LOGOUT</a>
    {% endif %}
    <div class="buttons">
        <h2>About</h2>
        <form action="{% url 'view_seniors' %}">
            <input type="submit" value="Seniors" />
        </form>
        <br>
        <form action="{% url 'view_volunteers' %}">
            <input type="submit" value="Volunteers" />
        </form>
        <br>
        <form action="{% url 'appointment' %}">
            <input type="submit" value="Schedule an Appointment" />
        </form>
    </div>
</body>
</html>