{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-auto">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <form method="POST">
                {% csrf_token %}
                    <input type="text" name="username" placeholder="username"><br>
                    <input type="password" name="password" placeholder="password"><br>
                    <input type="Submit">
                </form>
                    <a href="{% url 'home' %}"><button>Return to main page</button></a>
                <div>
                    {% for message in messages %}
                    <h3> {{message}} </h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}