<!-- HTML page for scheduling an appointment. Currently displays all seniors, volunteers, appointments, and form to schedule an appointment -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <title>appointments</title>
</head>
<body>
    <div class="center">
{% if seniors_list %}
    <p><b>Participants currently in the database  </b> </p>
    {% for senior in seniors_list %}
        <p>{{ senior }}</p>
    {% endfor %}

{% else %}
    <p>No participants currently added.</p>
{% endif %}
<br>
{% if volunteers_list %}
    <p><b> Volunteers currently in the database </b> </p>
    {% for volunteer in volunteers_list %}
        <p>{{ volunteer }}</p>
    {% endfor %}

{% else %}
    <p>No volunteers currently added.</p>
{% endif %}
<br>
{% if appointments_list %}
    <p><b> Appointments currently in the database </b> </p>
    {% for appointment in appointments_list %}
        <p>{{ appointment }}</p>
    {% endfor %}
<br>
{% else %}
    <p><b>No appointments currently added.</b></p>
{% endif %}
<br>

<p><b> Schedule an Appointment </b> </p>
<form method='POST' action=''>
    {% csrf_token %}
    <select class="form-control" id="senior" name='senior'>
        {% for senior in seniors_list %}
            <option value='{{ senior.id }}'>{{ senior.full_name }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="text" name="location"><br>
    <input type="datetime" name="date_and_time"><br>
    <input type="text" name="day"><br>
    <input type="Submit" name="select_senior">
</form>

    <br>
    <br>
<a href="{% url 'index' %}"><button>Return to main page</button></a>
    </div>
</body>