{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="center">
{% if seniors_list %}
    <p><b>Participants currently in the database  </b> </p>
    {% for senior in seniors_list %}
        <p>{{ senior }}</p>
    {% endfor %}

{% else %}
    <p>No participants currently added.</p>
{% endif %}
<br>
{% if volunteers_list %}
    <p><b> Volunteers currently in the database </b> </p>
    {% for volunteer in volunteers_list %}
        <p>{{ volunteer }}</p>
    {% endfor %}

{% else %}
    <p>No volunteers currently added.</p>
{% endif %}
<br>
{% if appointments_list %}
    <p><b> Appointments currently in the database </b> </p>
    {% for appointment in appointments_list %}
        <p>{{ appointment }}</p>
    {% endfor %}
<br>
{% else %}
    <p><b>No appointments currently added.</b></p>
{% endif %}
<br>

<p><b> Schedule an Appointment </b> </p>
<form method='POST' action=''>
    {% csrf_token %}
    <select class="form-control" id="senior" name='senior'>
        {% for senior in seniors_list %}
            <option value='{{ senior.id }}'>{{ senior.full_name }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="text" name="day_time"><br>
    <input type="Submit" name="select_senior">
</form>

    <br>
    <br>
<a href="{% url 'console' %}"><button>Return to main page</button></a>
    </div>
{% endblock %}
