<!-- HTML page for successfully sending an email -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Created</title>
</head>
<body>
    <h1>Your appointment has been confirmed!</h1>
    <p>Give appointment details here: </p>

    <!-- {{ request.get_full_path }} -->
    <a href="{% url 'home' %}"><button>Return to main page</button></a>
</body>
</html>