{% extends 'scheduling_application/base.html' %}
{% block content %}
    <div class="center">
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        {% for item in seniors %}
        <tr>
             <td><a href="{% url 'senior_page' item.id %}">{{ item.last_name }}</a></td>
             <td>{{ item.first_name }}</td>
             <td>{{ item.age }}</td>
             <td>{{ item.address }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_senior' %}"><button>Add Senior</button></a>
    <a href="{% url 'index' %}"><button>exit</button></a>
    </div>
{% endblock %}