<!-- HTML page for viewing all the volunteers -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <title>Volunteers</title>
</head>
<body>
    <div class="center">
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Vaccinated</th>
            <th>Availability</th>
        </tr>
        {% for item in volunteers %}
        <tr>
             <td>{{ item.last_name }}</td>
             <td>{{ item.first_name }}</td>
             <td>{{ item.address }}</td>
             <td>{{ item.phone }}</td>
             <td>{{ item.email }}</td>
             <td>{{ item.dob }}</td>
             <td>{{ item.vaccinated }}</td>
             <td>{{ item.availability }}</td>

        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'index' %}"><button>exit</button></a>
    </div>
</body>
</html>