{% extends 'scheduling_application/base.html' %}
{% block content %}
    <div class="center">
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Day</th>
            <th>Address</th>
        </tr>
        {% for item in volunteers %}
        <tr>
             <td>{{ item.last_name }}</td>
             <td>{{ item.first_name }}</td>
             <td>{{ item.day }}</td>
             <td>{{ item.vaccinated }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'console' %}"><button>exit</button></a>
    </div>
{% endblock %}