<!-- HTML page for viewing all the seniors -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <title>Seniors</title>
</head>
<body>
    <div class="center">
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        {% for item in seniors %}
        <tr>
             <td><a href="{% url 'senior_page' item.id %}">{{ item.last_name }}</a></td>
             <td>{{ item.first_name }}</td>
             <td>{{ item.age }}</td>
             <td>{{ item.address }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_senior' %}"><button>Add Participant</button></a>
    <a href="{% url 'index' %}"><button>exit</button></a>
    </div>
</body>
</html>