<!-- HTML page for viewing all the volunteers -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <title>Volunteers</title>
</head>
<body>
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Day</th>
            <th>Address</th>
        </tr>
        {% for item in volunteers %}
        <tr>
             <td>{{ item.last_name }}</td>
             <td>{{ item.first_name }}</td>
             <td>{{ item.day }}</td>
             <td>{{ item.vaccinated }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>