{% extends 'scheduling_application/base.html' %}
{% block content %}
    <div class="container">

        <div class="center space">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            <p class="space special">Please send the survey one week before the end of the month to allow for adequate time</p>
            <p class="space">Are you sure you want to send the survey?</p>
            <form class="" action="{% url 'send_survey' %}">
                <input type="submit" name="send_survey" value="Confirm" />
            </form>
            <form class="space" action="{% url 'console' %}">
                <input type="submit" name="send_survey" value="Exit" />
            </form>
        </div>
    </div>
{% endblock %}