{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="../static/SSC_logo.png" alt="">
        </div>
        <div class="col-sm space">
            <h2>About</h2>
            <p>The goal of the Sacramento Senior Safety Collaborative (SacSSC) is to provide escort services to
                seniors in response to anti-Asian hate incidents, such as public outings like shopping, walking,
                etc. We offer escort services to seniors who feel unsafe or uncomfortable in public without
                accompaniment. The presence of the escort volunteer will potentially reduce the likelihood of
                exposure to negative incidents and help participants feel comfortable going about their daily
                activities. </p>
            <h2 class="home-spacer">Contact/Info</h2>
            <p> Email: info@sacssc.org</p>
            <p> Phone: 1-916-476-3192 </p>
            <p> Program Contact: Emily Severeid </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
{% endblock %}