{% extends 'scheduling_application/base.html' %}
{% block content %}
<div class="space">
    <p class="text-center bigger" > Sign In </p>
    <p class="special text-center"> Welcome to the SacSSC console! <p>
    <div class="card center" style="width: 24rem;">
        <div class="card-body">
            <form class="form-group" method="POST">
                {% csrf_token %}
                    <p class="special"> Username </p>
                    <input class="special" type="text" name="username" placeholder="Enter Username">
                    <br>
                    <br>
                    <p class="special"> Password </p>
                    <input class="special" type="password" name="password" placeholder="Password">
                    <br>
                    <br>
                    {% for message in messages %}
                        <p class="error"> {{message}} </p>
                    {% endfor %}
                    <input class="special" type="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}